* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    background: linear-gradient(#ff8c00, #ffa500 50%, #ffa500 60%,#ffbf00);
}

header {
    display: grid;
    place-content: center start;
    padding: 0 20px;
    gap: 50px;
    color: #ffffff;
    grid-template-columns: 10px 10px;
}

main {
    display: grid;
    place-content: center;
}

main div {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
    "a1 a2 a3";
    grid-template-columns: 1fr 1fr 1fr;
}

.content-image {
    position: absolute;
    z-index: 2;
    grid-area: a1;
}

.content-image {
    grid-area: a2;
    place-self: center center;
}

main div div {
    grid-area: a3;
}

.background-logo {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content-text {
    color: #ffffff;
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px black;
}

footer {
    display: grid;
    color: #ffffff;
    grid-auto-flow: column;
    place-content: center;
    padding-right: 75px;
    padding-left: 75px;
    grid-template-areas: 
    "t1 t2 t3";
    grid-template-columns: 1fr 1fr 1fr;
}

footer div {
    grid-area: t1;
}

footer span {
    grid-area: t2;
    place-self: center center;
}

footer #mapa {
    grid-area: t3;
    place-self: center end;
}