* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    background: linear-gradient(#ff8c00, #ffa500 50%, #ffa500 60%,#ffbf00);
}

header {
    display: grid;
    place-content: center start;
    padding: 0 20px;
    gap: 24px;
    color: #ffffff;
    grid-auto-flow: column;
    padding-left: 75px;
}

header span {
    font-weight: 75px;
}

header a {
    font-weight: 75px;
}

main {
    display: grid;
    place-content: center;
}

main div {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
    "a1 a2 a3";
    grid-template-columns: 1fr 1fr 1fr;
}

.content-text {
    grid-area: a1;
    color: #ffffff;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px black;
    width: 240px;
    text-align: end;
    transform: translateX(-20%);
}

.content-image {
    grid-area: a2;
    place-self: center center;
    position: absolute;
    z-index: 1;
}

main div div {
    grid-area: a3;
}

.background-logo {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.content-image {
    height: 85vh;
}

footer {
    display: grid;
    color: #ffffff;
    grid-auto-flow: column;
    place-content: center;
    padding-right: 75px;
    padding-left: 75px;
    grid-template-areas: 
    "t1 t2 t3";
    grid-template-columns: 1fr 1fr 1fr;
}

footer div {
    grid-area: t1;
}

footer span {
    grid-area: t2;
    place-self: center center;
}

footer #mapa {
    grid-area: t3;
    place-self: center end;
}

@media (max-width:768px){
    header {
        padding-left: 25px;
    }

    main div {
        display: grid;
        grid-auto-flow: row;
        grid-template-areas:
        "a1"
        "a2"
        ;
        grid-template-rows: 40vh 1fr;
        grid-template-columns: none;
    }

    .content-text {
        font-size: 1rem;
        width: 100px;
        text-align: center;
        top: 80px;
    }

    .content-image {
        height: 70vh;
    }

    footer {
        padding: 0px 25px;
    }

}