* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    height: 100px;
    background-color: #CF2425;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

main  {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DA6062;
}